
html,
body {
    min-height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    padding: 0;
    bottom: 0;
    display: flex;
}

/* footer.custom {
    position: absolute;
    font-size: 18px;
    height: 60px;
    bottom: 0;
    display: flex;
} */

img {
    max-height: 350px;
}
input {
    color: grey;
}

th {
    font-size: 20px;
    font-weight:400;
}
a, td {
    font-size: 18px;
}


.table.cnt {
    font-size: 1rem;
    line-height: 2;
}

.container-fluid.custom {
    padding-right: 14%;
    padding-left: 14%;
}

.navtitle {
    padding-right: 13.5%;
    padding-left: 13.5%;
}

.h1.custom {
    font-size: 40px;
}

.header {
    color: #E50012;
    font-weight:450;
    /* font-size: 3.0rem; */
    font-size: 50px;
}

.h3.custom {
    font-weight:400;
    font-size: 28px;
    /* font-size: 40px; */
}
.dropdown-item.custom {
    font-size: 13px;
}

.topbar.custom {
    height: 76px;
    /* padding: 5px 5px; */
}

#page-top {
    background-color:#f8f9fc;
}