
html,
body {
    min-height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    padding: 0;
    bottom: 0;
    display: flex;
}

/* footer.custom {
    position: absolute;
    font-size: 18px;
    height: 60px;
    bottom: 0;
    display: flex;
} */

img {
    max-height: 350px;
}
input {
    color: grey;
}

input::placeholder {
    color: #858796;
}
input[type="text"] {
    height: 100%;
    width: 100%;
    font-size: 0.875rem;
}

input[type="file"] {
    height: 80%;
}

th {
    font-size: 20px;
    font-weight:400;
}
a, td {
    font-size: 18px;
    max-width: 250px;
}

.scroll-contain {
    overflow-x: hidden;
    width: 100%;
}

.scroll-text {
    display:inline-block;
    
    white-space:nowrap;
    margin: 0px;
}

.table.cnt {
    font-size: 1rem;
    line-height: 2;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #e3e6f0; 

}

.table-custom {
    display: table;
    width: 100%;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.table-custom th,
.table-custom td {
    padding: 0.2rem;
    border-top: 1px solid #e3e6f0; 
    display: table-cell;

}

.container-fluid.custom {
    padding-right: 10%;
    padding-left: 10%;
}

.navtitle {
    padding-right: 10%;
    padding-left: 10%;
}

.h1.custom {
    font-size: 40px;
    color: #16272E;
}

.header {
    color: #E50012;
    font-weight:450;
    /* font-size: 3.0rem; */
    font-size: 50px;
}

.dropdown-custom {
    width: 100%;
    overflow-x: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

.dropdown-item.custom {
    width: 95%;
    font-size: 13px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.topbar.custom {
    height: 76px;
    /* padding: 5px 5px; */
}

#page-top {
    background-color:#f8f9fc;
}

h3 {
    font: normal normal normal 24px/32px Roboto;
    letter-spacing: 0px;
    color: #16272E;
    opacity: 1;
    text-transform: capitalize;
}

/* 
.h3.custom {
    font-weight:400;
    font-size: 28px;
} */

.mb-custom {
    margin-bottom: 36px;
}

.shadow-custom {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #CACBD733;
    border: 1px solid #E0E1E6;
    border-radius: 12px;
    opacity: 1;
    padding: 5px;
}

.btn-primary-custom {
    /* UI Properties */
    background: #E61F23 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    min-width: 80px;
}

.btn-primary-custom:hover {
    background: #ff0004 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}


.btn-secondary-custom {
    background: #9b9b9b 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    min-width: 80px;
}

.btn-secondary-custom:hover {
    background:  hsl(0, 0%, 63%) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}

.card-header.custom,
.card-body.custom {
    padding: 1rem 1rem;
    background-color:#FFFFFF;
    min-height: 40px;
}

.card-body.custom{
    min-height: 60px;
}

.modal {
    top: 10%;
}