.card.custom {
    height: 400px;
    font-size: 14px;
}



.card-body.custom {
    height: 100%;
    font-size: 18px;
}

.card-body.scroll {
    /* max-height: 300px; */
    margin: 10px;
    overflow: auto;
}

.card-body.image {
    text-align: center;
}

.image {
    max-height:100%;
    max-width:100%;
    /* padding: 5px; */
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

.navbar.custom {
    background-color: #E61F23;
}

.header.custom {
    color:#FFFFFF;
}

.card-title {
    color: #16272E;
}
