<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stream</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Socket.IO 的 CDN 連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
    integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin-2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/switch.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stream.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,200,1,0" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,200,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,200,1,0" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
    </style>    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" style="padding-bottom: 60px;">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-custom static-top shadow custom">
                    <div class="h1 mt-4 text-gray-800 navtitle">
                        <div>
                            <img style="width:173px; vertical-align:baseline; margin-left: -15px;" src="/static/figures/Logo.png">
                        </div>
                        <!-- <h1 class="header custom">iVIT-I</h1> -->
                    </div>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid custom" style="overflow: hidden" >

                    <!-- Page Heading -->
                    <div class="mb-2 d-sm-flex align-items-center justify-content-between m-0">
                        <h3 id="title" class="h3 custom">Application Name</h3>
                        <button class="btn btn-secondary-custom" type="button" data-dismiss="modal"
                                onclick="backEvent(); return false;">Back</button>

                        <!-- <a href="#" class="btn btn-secondary btn-icon-split" onclick="backEvent()">
                            <span class="icon text-gray-200">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Back</span>
                        </a> -->
                    </div>
                    <!-- <p class="mb-3">Receve stream data</p>  -->
                    <div class="row custom">

                        <div class="col-lg-6">

                            <!-- Live Stream -->
                            <div id="live_stream" class="card shadow-custom mb-3 custom">
                                <!-- <div class="card-header py-3 custom"> -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between custom">
                                    <h6 class="h5 m-0 font-weight-bold card-title">Live Stream</h6>
                                    <div>
                                        <a id="inferIcon" class="material-symbols-outlined custom" href="#" onclick="inferController()">developer_board</a>
                                        <a id="drawIcon" class="material-symbols-outlined custom" href="#" onclick="inferResultController()">draw</a>
                                    </div>
                                </div>
                                <div class="card-body custom image">
                                    <div class="loader" id="loader" style="display:block">Loading</div>
                                    <!-- <img id="image" class="image" style="display:none"> -->
                                    <video id="webrtc-video" autoplay muted playsinline controls="false"
                                            style="height:100%; width: 100%; display: none" ></video>
                                </div>
                            </div>

                            <!-- Information -->
                            <div id='information' class="card shadow-custom mb-3 custom">
                                <div class="card-header py-3 custom">
                                    <h6 class="h5 m-0 font-weight-bold card-title">Information</h6>
                                </div>
                                <div class="card-body custom scroll">
                                    <!-- Table -->
                                    <div class="table-responsive">
                                        <table class="table-custom" id="dataTable" height="100%" width="100%" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>Model</td>
                                                    <td id="model">...</td>
                                                </tr>
                                                <tr>
                                                    <td>Application</td>
                                                    <td id="application">Defect Detection</td>
                                                </tr>
                                                <tr>
                                                    <td>Accelerator</td>
                                                    <td id="device">gpu</td>
                                                </tr>
                                                <tr>
                                                    <td>Input Type</td>
                                                    <td id="input_type">V4L2</td>
                                                </tr>
                                                <tr>
                                                    <td>Input Source</td>
                                                    <td id="source">/dev/video0</td>
                                                </tr>
                                                <!-- <tr>
                                                    <td>Model Name</td>
                                                    <td id="app_name">Defect Detection</td>
                                                </tr> -->
                                                <tr>
                                                    <td>FPS</td>
                                                    <td id="fps">0</td>
                                                </tr>
                                                <!-- <tr>
                                                    <td>Status</td>
                                                    <td id="status">Start</td>
                                                </tr> -->
                                                <tr>
                                                    <td>Time</td>
                                                    <td id="live_time">0 day 0 hour 0 mins</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <!-- Output Log -->
                            <div id="log" class="card shadow-custom mb-3 scroll custom">
                                <div class="card-header py-3 custom">
                                    <h6 class="h5 m-0 font-weight-bold card-title">Output Log</h6>
                                </div>
                                <div id="result" class="card-body custom scroll">
                                    <div id="result"></div>
                                </div>
                            </div>
                            <!-- Temperature -->
                            <div id="temprature" class="card shadow-custom mb-3 custom">
                                <div class="card-header py-3 custom">
                                    <h6 class="h5 m-0 font-weight-bold card-title">Temperature</h6>
                                </div>
                                <div class="card-body custom">
                                    <!-- Area Chart -->
                                    <!-- <div class="card custom">
                                        <div class="card-body m-0">
                                            
                                        </div>
                                    </div> -->
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    

    </div>
    <!-- End of Page Wrapper -->

    <!-- Footer -->
    <footer class="bg-white custom">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Innodisk Corporation</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/temperature.js') }}"></script>
    <script src="{{ url_for('static', filename='js/webrtc.js') }}"></script>

    <!-- Custom Javscript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stream.js') }}"></script>
    
    <!-- Loading -->
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

</body>

</html>